/.DS_Store
/kexts/.DS_Store
/kexts/Other/.DS_Store
/ACPI/patched/.DS_Store
/ACPI/.DS_Store
/themes/.DS_Store
/drivers64UEFI/.DS_Store
/themes/Hackintosh_ID/.DS_Store
/themes/Hackintosh_ID/icons/.DS_Store
